* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
}

.container {
  position: relative;
}

.container .card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}

.container .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #287cdc;
  clip-path: circle(150px at 80% 20%);
  transition: 0.3s ease-in-out;
  z-index: 200
}

.container .card:hover::before {
  clip-path: circle(300px at 80% -20%)
}

.container .card::after {
  content: url(../img/olympikus-logo.png);
  opacity: 0.1;
  position: absolute;
  top: 37%;
  left: -34%;
  z-index: 100
}

.container .card .imgBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;  
}

.container .card .imgBox img {
  position: absolute;
  top: 44%;
  left: -38%;
  transform: rotateY(180deg) translate(-50%, -50%) rotate(25deg);
  width: 270px;
}